<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Core Project One</title>
  <style>
    .box {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .pageCenter {
      margin-left: auto;
      margin-right: auto;
      max-width: 1000px;
      float: none;
  }
  </style>
</head>
<body>
  <div class="box">
    <h1>Core Project One EDA Report</h1>
  </div>

  <div class="box">
    <div class="bodyContainer">
      <p>This report contains the number of accidents occurred per weekday</p>
      <table>
        <thead>
          <tr>
            <th>Weekday</th>
            <th>Number of Accidents</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>{}</td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>{}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="box">
    <div class="Thank you for using my app!">

      <p>Contact me on <a href="https://www.linkedin.com/in/aacecan/">Linkedin</a></p>
    </div>
  </div>
</body>
</html>
